*,*::after,*::before{
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body{
  display: grid;
  grid-template-columns: 1fr 1fr 100px;
  grid-template-rows: 150px 200vh 100vh 100vh 100px;
  grid-template-areas: "header header header" "welcome-section welcome-section welcome-section"
  "projects projects projects"
  "projects projects projects"
  "info info info";
}
#header{
  display: flex;
  background-color: black;
  grid-area: header;
  justify-content: flex-end;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2017%2F01%2F06%2F18%2F38%2Fblack-background-1958574_960_720.jpg&f=1&nofb=1&ipt=ae9b96c242d1daf942efc544f614d42c3af121cd2db36688e254ff1b8ba05d09");
  background-size: cover;
  background-position: center;
}
#welcome-section{
  background: linear-gradient(180deg, black, rgb(81, 81, 81));
  color: #f1be32;
  text-align: center;
  padding: 10px;
  margin: 0;
  grid-area: welcome-section;
  font-size: 3vh;
}
.nav-link{
  text-decoration: none;
  color: #4e6918;
  font-size: 2vw;
}
#navbar{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 25%;
}




#projects{
  grid-area: projects;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0; 
  background: linear-gradient(180deg, rgb(81, 81, 81), orange);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "projet1 projet1"
"projet2 projet2"
"projet3 projet3"
"projet4 projet4";
gap: 20px
}
.first{
  grid-area: projet1;
}
.second{
  grid-area: projet2;
}
.third{
  grid-area: projet3;
}
.fourth{
  grid-area: projet4;
}

@media(max-width:1000px){
  body{
    font-weight: bold;
  }
}

#footer{
  grid-area: info;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(180deg,orange,#f1be32);
  gap: 30px;
  align-items: center;
}
.toolpip{
  display: none;
  text-align: center;
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 50%; 
}
.info.contact:hover .toolpip{
  display: block;
}
